<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.manage.dao.ImageDao">

   <select id="imageList" resultType="image">
       select id,path,status,sort,create_time as createTime
       from t_image
       order by sort asc,create_time desc
   </select>

    <select id="queryBySort" parameterType="Integer" resultType="image">
       select id,path,status,sort,create_time as createTime
       from t_imag
       where sort=#{sort}
    </select>

    <update id="updateSort">
        update t_image set sort=#{sort},status=#{status} where id=#{id}
    </update>

    <update id="updateSort1">
        update t_image set sort=sort+1 where sort in (1,2)
    </update>

    <update id="updateSort2">
        update t_image set sort=sort+1 where sort=2
    </update>

    <update id="updateSort3">
        update t_image set sort=10,status=1 where sort=3
    </update>

</mapper>