<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manage.manage.dao.ImageDao">

   <select id="imageList" resultType="image">
       select id,path,status,sort,create_time as createTime,url
       from t_image
       order by sort asc,create_time desc
   </select>

    <update id="imageCancel">
        update t_image set status=1,sort=10 where status=0
    </update>

    <update id="imageSet">
        update t_image set sort=#{sort},status=0,url=#{url} where id=#{id}
    </update>

    <select id="imagePreview" resultType="image">
       select id,path,status,sort,create_time as createTime
       from t_image where status=0
       order by sort asc
   </select>

</mapper>